@import url(https://use.typekit.net/xkh2ici.css);

@font-face {
    font-family: BigNoodleTitling;
    src: url(font/bignoodletitling.eot) format("eot"), url(font/bignoodletitling.woff) format("woff"), url(font/big_noodle_titling.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

header#templateHeader a {
    display: inline-block;
    width: 250px;
    max-height: 94px;
    padding: 9px 60px;
    background: #2c882b;
    margin-right: 50px;
    box-sizing: border-box;
}

header#templateHeader a img {
    width: 100%;
    display: inline;
}

header#templateHeader h1 {
    display: inline-block;
    font-family: BigNoodleTitling;
    font-size: 52.8px;
    margin: 0;
    font-weight: 100;
    color: #707070;
    border-bottom: 4px solid #2c882b;
    vertical-align: bottom;
    line-height: normal;
    padding-bottom: 0;
    padding-top: 0;
}

a {
    text-decoration: underline;
    font-weight: bold;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}

.second-card-body {
    padding-left: 60px;
}

.second-card-body a {
    color: #2c882b;
    text-decoration: none;
}

.second-card-body h3 {
    text-align: center;
    padding-bottom: 20px;
}

.second-card-body a.cta-1 {
    border: 1px solid #545454;
    padding: 10px 25px;
    font-size: 1rem;
}

.second-card-body a.cta-1:hover {
    background-color: #2c882b;
    color: white;
}



button:hover {
    background-color: #2c882b;
    color: white;
}

.menu {
    text-align: right;
    float: right;
}

ul {
    list-style-type: none;
    /*padding: 0;*/
    /*margin: 0;*/
}

li {
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    margin: 3px;
    display: inline-block;
    border-radius: 20px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #dc3545;
    color: white;
    padding: 29px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    /*position: absolute;*/
    align-content: end;
    /*text-align: right;*/

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #2c882b;
}

.second-card-body .btn-green {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}


/* left container */
.container-left {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    padding-left: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.output {
    font-size: 20px;
    padding: 10px;
    width: 90%;
    margin-top: 15px;
    border-radius: 5px;
}

button {
    border-radius: 50px;
    background-color: #2c882b;
    color: white;
    font-size: 18px;
    padding: 15px;
    margin-top: 15px;
    border: none;
    width: 90%;
    cursor: pointer;

}

button:hover {
    background-color: #2c882b;
}


/* right container */
.container-right {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    padding-left: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}